# Adversarial fairnes on COMPAS with gradient reversal
This notebook will demonstrate the code in `gradient_reversal.py` to apply gradient reversal.

Use the `Pipfile` in the repo root if there are missing dependencies.

There is also a pre-trained model available that is unbiased with this approach. It's saved in `unbiased_model.h5`. The COMPAs data is loaded from this repo.

In [9]:
import pandas as pd
import os
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv(os.path.join("..", "data", "csv", "scikit", "compas_recidive_two_years_sanitize_age_category_jail_time_decile_score.csv"))
df.head()

,sex,age_cat,race,juv_fel_count,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_jail_in,c_jail_out,c_jail_time (days),date_dif_in_jail,c_charge_degree,is_recid,decile_score,score_text,two_year_recid
0,Male,Greater than 45,Other,0,0,0,0,-1,2013-08-13 06:03:42,2013-08-14 05:41:20,0.984468,1,F,0,1,Low,0
1,Male,25 - 45,African-American,0,0,0,0,-1,2013-01-26 03:45:27,2013-02-05 05:36:53,10.077384,10,F,1,3,Low,1
2,Male,Less than 25,African-American,0,0,1,4,-1,2013-04-13 04:58:34,2013-04-14 07:02:04,1.085764,1,F,1,4,Low,1
3,Male,25 - 45,Other,0,0,0,0,0,2013-11-30 04:50:18,2013-12-01 12:28:56,1.318495,1,M,0,1,Low,0
4,Male,25 - 45,Caucasian,0,0,0,14,-1,2014-02-18 05:08:24,2014-02-24 12:18:30,6.298681,6,F,1,6,Medium,1

Remove all other races except `African-American` and `Caucasian`. This might be removed later on if we use a generative adversary.

In [11]:
df_binary = df[(df["race"] == "Caucasian") | (df["race"] == "African-American")]

In [12]:
del df_binary['c_jail_in']
del df_binary['c_jail_out']

##separated class from the rests of the features
Y = df_binary[['decile_score', 'two_year_recid', 'race', 'score_text']]
del df_binary['decile_score']
del df_binary['two_year_recid']
del df_binary['score_text']

S = df_binary['race']
del df_binary['race']

In [13]:
df_binary.head()

,sex,age_cat,juv_fel_count,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_jail_time (days),date_dif_in_jail,c_charge_degree,is_recid
1,Male,25 - 45,0,0,0,0,-1,10.077384,10,F,1
2,Male,Less than 25,0,0,1,4,-1,1.085764,1,F,1
4,Male,25 - 45,0,0,0,14,-1,6.298681,6,F,1
6,Female,25 - 45,0,0,0,0,-1,2.953611,3,M,0
7,Male,25 - 45,0,0,0,0,-1,1.080451,1,F,0

In [14]:
encod = preprocessing.OrdinalEncoder()
encod.fit(df_binary)
X = encod.transform(df_binary)
X = pd.DataFrame(X)
X.columns = df_binary.columns
X.head()

,sex,age_cat,juv_fel_count,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_jail_time (days),date_dif_in_jail,c_charge_degree,is_recid
0,1.0,0.0,0.0,0.0,0.0,0.0,29.0,4127.0,10.0,0.0,1.0
1,1.0,2.0,0.0,0.0,1.0,4.0,29.0,2204.0,1.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,14.0,29.0,3920.0,6.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,29.0,3503.0,3.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,29.0,2184.0,1.0,0.0,0.0

In [15]:
# Trained on X_train with random state 42, so we'll keep that
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size=0.3, random_state=42)

In [22]:
print(X_train.shape)
print(len(Y_train))
Y.head()

(3694, 11)
3694

   decile_score  two_year_recid              race score_text
1             3               1  African-American        Low
2             4               1  African-American        Low
4             6               1         Caucasian     Medium
6             1               0         Caucasian        Low
7             4               0         Caucasian        Low

## Load an unbiased pre-trained classifier
Here we'll load a pre-trained classifier for COMPAS, which can get you started.

In [17]:
from gradient_reversal import GradientReversalModel

Using TensorFlow backend.

In [18]:
gr = GradientReversalModel()

gr.load_trained_model(path="unbiased_model.h5", hp_lambda=100)
m = gr.get_model()
model_to_json=m.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_to_json)

In [19]:
Y_pred = gr.predict(X_test)

WARNING:tensorflow:From /usr/local/lib64/python3.7/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

In [20]:
X_test

,sex,age_cat,juv_fel_count,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_jail_time (days),date_dif_in_jail,c_charge_degree,is_recid
8,0.0,1.0,0.0,0.0,0.0,1.0,10.0,4268.0,14.0,0.0,1.0
4246,1.0,0.0,0.0,0.0,0.0,2.0,29.0,1110.0,1.0,1.0,1.0
544,0.0,2.0,0.0,0.0,0.0,0.0,29.0,1116.0,1.0,0.0,1.0
1780,1.0,0.0,0.0,0.0,0.0,1.0,29.0,825.0,1.0,0.0,1.0
3940,1.0,0.0,0.0,0.0,0.0,0.0,29.0,2787.0,1.0,0.0,1.0
1564,1.0,0.0,0.0,0.0,0.0,3.0,30.0,4662.0,34.0,0.0,1.0
4519,1.0,0.0,0.0,0.0,0.0,16.0,29.0,1885.0,1.0,0.0,1.0
2664,1.0,0.0,0.0,0.0,0.0,6.0,30.0,3081.0,2.0,0.0,1.0
167,1.0,0.0,0.0,0.0,2.0,11.0,29.0,2629.0,1.0,1.0,1.0
346,0.0,0.0,0.0,0.0,0.0,0.0,29.0,1931.0,1.0,1.0,0.0
1726,1.0,0.0,0.0,0.0,0.0,4.0,30.0,607.0,1.0,0.0,1.0
1583,1.0,1.0,0.0,0.0,0.0,6.0,29.0,4250.0,14.0,0.0,1.0
1717,0.0,1.0,0.0,0.0,0.0,7.0,29.0,4369.0,19.0,0.0,0.0
1820,1.0,0.0,0.0,0.0,0.0,2.0,29.0,4091.0,9.0,1.0,1.0
2342,1.0,0.0,0.0,0.0,0.0,5.0,30.0,2010.0,1.0,0.0,0.0
3017,1.0,0.0,0.0,0.0,0.0,1.0,29.0,1280.0,1.0,0.0,1.0
2341,1.0,2.0,0.0,1.0,0.0,4.0,29.0,5104.0,129.0,0.0,1.0
1084,1.0,0.0,0.0,4.0,4.0,14.0,29.0,4998.0,82.0,0.0,1.0
15,1.0,0.0,0.0,0.0,0.0,0.0,30.0,501.0,0.0,1.0,1.0
1578,0.0,0.0,0.0,0.0,0.0,3.0,29.0,3749.0,5.0,0.0,1.0
5239,1.0,2.0,0.0,0.0,0.0,0.0,29.0,3063.0,2.0,0.0,1.0
4155,1.0,1.0,0.0,0.0,0.0,0.0,30.0,2292.0,1.0,0.0,0.0
3290,1.0,0.0,0.0,0.0,0.0,7.0,29.0,1189.0,1.0,0.0,1.0
2685,1.0,0.0,0.0,0.0,0.0,0.0,29.0,889.0,1.0,1.0,0.0
2131,1.0,0.0,0.0,0.0,0.0,1.0,29.0,756.0,1.0,0.0,1.0
3785,1.0,0.0,0.0,0.0,0.0,1.0,30.0,2120.0,1.0,0.0,1.0
1244,1.0,1.0,0.0,0.0,0.0,1.0,29.0,1534.0,1.0,0.0,0.0
4320,0.0,0.0,0.0,0.0,0.0,0.0,28.0,2740.0,1.0,0.0,1.0
4532,1.0,0.0,0.0,0.0,0.0,5.0,29.0,2784.0,1.0,1.0,1.0
1779,1.0,2.0,0.0,0.0,0.0,1.0,29.0,2844.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1822,1.0,2.0,0.0,0.0,0.0,0.0,29.0,3981.0,7.0,0.0,1.0
3426,1.0,1.0,0.0,0.0,0.0,1.0,29.0,2564.0,1.0,0.0,0.0
4196,1.0,0.0,0.0,0.0,0.0,0.0,29.0,1203.0,1.0,1.0,0.0
156,0.0,0.0,0.0,0.0,0.0,2.0,29.0,3452.0,3.0,0.0,0.0
4696,1.0,1.0,0.0,0.0,0.0,0.0,29.0,3480.0,3.0,1.0,0.0
194,0.0,0.0,0.0,0.0,0.0,2.0,29.0,1610.0,1.0,1.0,0.0
615,1.0,2.0,0.0,1.0,1.0,7.0,29.0,2130.0,1.0,1.0,0.0
643,1.0,1.0,0.0,0.0,0.0,1.0,29.0,3525.0,3.0,0.0,1.0
2750,1.0,0.0,0.0,0.0,0.0,0.0,29.0,1282.0,1.0,1.0,0.0
2004,1.0,0.0,0.0,0.0,0.0,10.0,29.0,4624.0,33.0,0.0,1.0
1068,1.0,2.0,0.0,0.0,0.0,0.0,29.0,1368.0,1.0,0.0,0.0
3986,1.0,0.0,0.0,0.0,0.0,1.0,29.0,2316.0,1.0,0.0,1.0
5015,1.0,0.0,0.0,0.0,0.0,9.0,29.0,4800.0,43.0,0.0,1.0
4418,1.0,0.0,0.0,0.0,0.0,0.0,30.0,111.0,0.0,1.0,0.0
4943,1.0,0.0,1.0,0.0,2.0,4.0,29.0,3674.0,4.0,0.0,0.0
4478,0.0,0.0,0.0,0.0,0.0,2.0,27.0,71.0,0.0,0.0,1.0
1650,1.0,0.0,0.0,0.0,0.0,2.0,26.0,1335.0,1.0,0.0,0.0
330,1.0,0.0,0.0,0.0,1.0,8.0,29.0,4130.0,10.0,0.0,1.0
3911,1.0,0.0,0.0,0.0,0.0,4.0,30.0,21.0,0.0,1.0,0.0
2951,1.0,0.0,0.0,0.0,0.0,6.0,30.0,4780.0,41.0,0.0,0.0
5237,1.0,0.0,0.0,0.0,0.0,4.0,29.0,2761.0,1.0,0.0,0.0
622,1.0,0.0,0.0,3.0,0.0,25.0,29.0,5061.0,110.0,1.0,1.0
3652,1.0,0.0,0.0,0.0,0.0,2.0,29.0,5106.0,130.0,0.0,1.0
2594,1.0,0.0,1.0,0.0,0.0,21.0,29.0,3852.0,6.0,1.0,1.0
3829,1.0,0.0,0.0,0.0,0.0,14.0,30.0,311.0,0.0,0.0,1.0
3243,1.0,0.0,0.0,0.0,0.0,2.0,29.0,3242.0,2.0,0.0,1.0
2194,1.0,1.0,0.0,0.0,0.0,0.0,29.0,4583.0,30.0,1.0,1.0
2810,1.0,0.0,0.0,0.0,0.0,0.0,29.0,1021.0,1.0,0.0,0.0
2018,0.0,0.0,0.0,0.0,0.0,0.0,29.0,1062.0,1.0,0.0,0.0
3062,1.0,1.0,0.0,0.0,0.0,12.0,8.0,1862.0,1.0,0.0,1.0

In [23]:
Y_test['pred'] = Y_pred[0]
Y_test['pred_race'] = Y_pred[1][:,1] > 0.5
Y_test.head

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<bound method NDFrame.head of       decile_score  two_year_recid              race score_text      pred  \
11               1               1         Caucasian        Low  6.031363
4957             3               0  African-American        Low  4.009992
648              7               0  African-American     Medium  5.157203
2100             2               1         Caucasian        Low  3.764811
4595             2               1  African-American        Low  3.681648
1857            10               1  African-American       High  6.080746
5287             9               1  African-American       High  6.174338
3124             7               1  African-American     Medium  4.525392
200              9               1  African-American       High  7.116177
415              2               0         Caucasian        Low  3.115577
2038             8               1  African-American       High  4.942677
1877             7               1  African-American     Medium  6.623240
2029             6               0  African-American     Medium  6.325138
2143             5               1  African-American     Medium  5.324015
2760             8               0  African-American       High  3.798294
3524             4               1  African-American        Low  3.778108
2759             9               1  African-American       High  6.417875
1294            10               1  African-American       High  8.199323
19               2               1         Caucasian        Low  3.681662
1872             4               1  African-American        Low  5.851702
6128             6               1  African-American     Medium  5.461746
4848             1               0  African-American        Low  3.277686
3840             8               1         Caucasian       High  5.196255
3148             2               0  African-American        Low  3.555134
2510             4               1  African-American        Low  3.762999
4426             2               1         Caucasian        Low  3.781921
1484             1               0         Caucasian        Low  3.771472
5051             1               1         Caucasian        Low  3.914881
5302             9               1  African-American       High  4.017104
2099             6               1  African-American     Medium  5.462393
...            ...             ...               ...        ...       ...
2145             8               1         Caucasian       High  6.446254
3996             1               0  African-American        Low  3.565156
4895             1               0  African-American        Low  3.357578
188              7               0  African-American     Medium  3.812325
5491             2               0         Caucasian        Low  3.721321
235              3               0  African-American        Low  3.700351
731              9               0  African-American       High  6.573894
763              1               1         Caucasian        Low  5.106108
3224             1               0         Caucasian        Low  3.304868
2353            10               1  African-American       High  5.994127
1274             3               0         Caucasian        Low  3.784497
4651             3               1  African-American        Low  3.786602
5864             7               1  African-American     Medium  5.898340
5171             1               0         Caucasian        Low  3.223900
5772            10               0  African-American       High  7.517764
5237             6               1         Caucasian     Medium  6.639251
1951             1               0         Caucasian        Low  3.513937
393              7               1  African-American     Medium  7.013859
4562             6               0  African-American     Medium  3.577137
3445             4               0  African-American        Low  5.322186
6125             3               0  African-American        Low  3.759005
738              8               1  African-American       High  7.288700
4261             3               1  African-American        Low  5.440402
3042            10               1  African-American       High  7.500323
4475             6               1  African-American     Medium  4.071066
3783             2               1         Caucasian        Low  3.913479
2584             1               1         Caucasian        Low  6.730563
3292             2               0  African-American        Low  3.408830
2373             3               0  African-American        Low  3.577102
3576             1               1  African-American        Low  5.757207

      pred_race
11        False
4957      False
648       False
2100      False
4595      False
1857      False
5287      False
3124      False
200       False
415       False
2038      False
1877      False
2029      False
2143      False
2760      False
3524      False
2759      False
1294      False
19        False
1872      False
6128      False
4848      False
3840      False
3148      False
2510      False
4426      False
1484      False
5051      False
5302      False
2099      False
...         ...
2145      False
3996      False
4895      False
188       False
5491      False
235       False
731       False
763       False
3224      False
2353      False
1274      False
4651      False
5864      False
5171      False
5772      False
5237      False
1951      False
393       False
4562      False
3445      False
6125      False
738       False
4261      False
3042      False
4475      False
3783      False
2584      False
3292      False
2373      False
3576      False

[1584 rows x 6 columns]>

## Evaluation of the model
For this we use a simple model counting strategy with a syntax similar to bayesian networks.

We evaluate the model based on the demographic parity, both as an absolute diffence and as a ratio (related to the 80% rule).

In [15]:
from bayesian_model import BayesianModel as bm

In [16]:
abs(bm(Y_test).P(pred = lambda x: x>5).given(race = "Caucasian") - bm(Y_test).P(pred = lambda x: x>5).given(race = "African-American"))

0.11489678184486118

In [17]:
bm(Y_test).P(pred = lambda x: x>5).given(race = "Caucasian") / bm(Y_test).P(pred = lambda x: x>5).given(race = "African-American")

0.7576631195149871

So that value is less than 0.8, so by applying the 80% rule we could conclude this model is still biased. Let's look at another metric, called equality of opportunity:

$$P(\hat{Y} = 1 \mid A = 1, Y = 1) = P(\hat{Y} = 1 \mid A = 0, Y = 1)$$

In [18]:
abs(bm(Y_test).P(pred = lambda x: x>5).given(race = "Caucasian", two_year_recid = True) - bm(Y_test).P(pred = lambda x: x>5).given(race = "African-American", two_year_recid = True))

0.11477466626518118

This one should be as close to 0 as possible. So it's not bad, but not 0. Anyway, let's compare to a naive model with $\lambda = 0$.

## Naive model

In [19]:
gr_naive = GradientReversalModel()

gr_naive.load_trained_model(path="naive_model.h5", hp_lambda=0)

In [20]:
Y_pred_n = gr_naive.predict(X_test)

In [21]:
Y_test['pred_n'] = Y_pred_n

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
abs(bm(Y_test).P(pred_n = lambda x: x>5).given(race = "Caucasian") - bm(Y_test).P(pred_n = lambda x: x>5).given(race = "African-American"))

0.20485838911334903

In [23]:
bm(Y_test).P(pred_n = lambda x: x>5).given(race = "Caucasian") / bm(Y_test).P(pred_n = lambda x: x>5).given(race = "African-American")

0.5816211334386995

Ok that's a lot worse than the unbiased model ...

In [24]:
abs(bm(Y_test).P(pred_n = lambda x: x>5).given(race = "Caucasian", two_year_recid = True) - bm(Y_test).P(pred_n = lambda x: x>5).given(race = "African-American", two_year_recid = True))

0.2239536284251732