In [1]:
import numpy as np
import pandas as pd
import os
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv(os.path.join("..", "data", "csv", "scikit", "compas_recidive_two_years_sanitize_age_category_jail_time_decile_score.csv"))

In [3]:
df_binary = df[(df["race"] == "Caucasian") | (df["race"] == "African-American")]

del df_binary['c_jail_in']
del df_binary['c_jail_out']

##separated class from the rests of the features
#remove unnecessary dimensions from Y -> only the decile_score remains
Y_to_remove = df_binary['decile_score']
del df_binary['decile_score']
del df_binary['two_year_recid']
del df_binary['score_text']

S = df_binary['race']
del df_binary['race']

#del X[nb_feat-1]
Y = df_binary['is_recid']
df_binary.drop(columns='is_recid',inplace = True)
print(df_binary.head())

      sex       age_cat  juv_fel_count  juv_misd_count  juv_other_count  \
1    Male       25 - 45              0               0                0
2    Male  Less than 25              0               0                1
4    Male       25 - 45              0               0                0
6  Female       25 - 45              0               0                0
7    Male       25 - 45              0               0                0

   priors_count  days_b_screening_arrest  c_jail_time (days)  \
1             0                       -1           10.077384
2             4                       -1            1.085764
4            14                       -1            6.298681
6             0                       -1            2.953611
7             0                       -1            1.080451

   date_dif_in_jail c_charge_degree
1                10               F
2                 1               F
4                 6               F
6                 3               M
7                 1               F

/usr/local/lib64/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [4]:
df_binary.head()

,sex,age_cat,juv_fel_count,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_jail_time (days),date_dif_in_jail,c_charge_degree
1,Male,25 - 45,0,0,0,0,-1,10.077384,10,F
2,Male,Less than 25,0,0,1,4,-1,1.085764,1,F
4,Male,25 - 45,0,0,0,14,-1,6.298681,6,F
6,Female,25 - 45,0,0,0,0,-1,2.953611,3,M
7,Male,25 - 45,0,0,0,0,-1,1.080451,1,F

## preprocessing

In [5]:
#set sparse to False to return dense matrix after transformation and keep all dimensions homogeneous
encod = preprocessing.OneHotEncoder(sparse=False)

data_to_encode = df_binary.to_numpy()
feat_to_encode = data_to_encode[:,0]
#print(feat_to_encode)
#transposition
feat_to_encode=feat_to_encode.reshape(-1, 1)
#print(feat_to_encode)
encoded_feature=encod.fit_transform(feat_to_encode)

df_binary_encoded = pd.DataFrame(encoded_feature)

df_binary_encoded.head()

     0    1
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  1.0  0.0
4  0.0  1.0

In [6]:
feat_to_encode = data_to_encode[:,1]
feat_to_encode=feat_to_encode.reshape(-1, 1)
encoded_feature=encod.fit_transform(feat_to_encode)


df_encoded_feature = pd.DataFrame(encoded_feature)


df_binary_encoded = pd.concat([df_binary_encoded,pd.DataFrame(encoded_feature)],axis=1)

df_binary_encoded.head()

     0    1    0    1    2
0  0.0  1.0  1.0  0.0  0.0
1  0.0  1.0  0.0  0.0  1.0
2  0.0  1.0  1.0  0.0  0.0
3  1.0  0.0  1.0  0.0  0.0
4  0.0  1.0  1.0  0.0  0.0

feature [2] [3] [4] [5] [6] [7] [8] has to be put between 0 and 1

In [7]:
encoded_feature = data_to_encode[:,2]
ma = np.amax(encoded_feature)
mi = np.amin(encoded_feature)
encoded_feature = (encoded_feature-mi)/(ma-mi)
df_binary_encoded = pd.concat([df_binary_encoded,pd.DataFrame(encoded_feature)],axis=1)

df_binary_encoded.head()

     0    1    0    1    2  0
0  0.0  1.0  1.0  0.0  0.0  0
1  0.0  1.0  0.0  0.0  1.0  0
2  0.0  1.0  1.0  0.0  0.0  0
3  1.0  0.0  1.0  0.0  0.0  0
4  0.0  1.0  1.0  0.0  0.0  0

In [8]:
encoded_feature = data_to_encode[:,3]
ma = np.amax(encoded_feature)
mi = np.amin(encoded_feature)
encoded_feature = (encoded_feature-mi)/(ma-mi)
df_binary_encoded = pd.concat([df_binary_encoded,pd.DataFrame(encoded_feature)],axis=1)

df_binary_encoded.head()

     0    1    0    1    2  0  0
0  0.0  1.0  1.0  0.0  0.0  0  0
1  0.0  1.0  0.0  0.0  1.0  0  0
2  0.0  1.0  1.0  0.0  0.0  0  0
3  1.0  0.0  1.0  0.0  0.0  0  0
4  0.0  1.0  1.0  0.0  0.0  0  0

In [9]:
encoded_feature = data_to_encode[:,4]
ma = np.amax(encoded_feature)
mi = np.amin(encoded_feature)
encoded_feature = (encoded_feature-mi)/(ma-mi)
df_binary_encoded = pd.concat([df_binary_encoded,pd.DataFrame(encoded_feature)],axis=1)

df_binary_encoded.head()

     0    1    0    1    2  0  0         0
0  0.0  1.0  1.0  0.0  0.0  0  0         0
1  0.0  1.0  0.0  0.0  1.0  0  0  0.142857
2  0.0  1.0  1.0  0.0  0.0  0  0         0
3  1.0  0.0  1.0  0.0  0.0  0  0         0
4  0.0  1.0  1.0  0.0  0.0  0  0         0

In [10]:
encoded_feature = data_to_encode[:,5]
ma = np.amax(encoded_feature)
mi = np.amin(encoded_feature)
encoded_feature = (encoded_feature-mi)/(ma-mi)
df_binary_encoded = pd.concat([df_binary_encoded,pd.DataFrame(encoded_feature)],axis=1)

df_binary_encoded.head()

     0    1    0    1    2  0  0         0         0
0  0.0  1.0  1.0  0.0  0.0  0  0         0         0
1  0.0  1.0  0.0  0.0  1.0  0  0  0.142857  0.105263
2  0.0  1.0  1.0  0.0  0.0  0  0         0  0.368421
3  1.0  0.0  1.0  0.0  0.0  0  0         0         0
4  0.0  1.0  1.0  0.0  0.0  0  0         0         0

In [11]:
encoded_feature = data_to_encode[:,6]
ma = np.amax(encoded_feature)
mi = np.amin(encoded_feature)
encoded_feature = (encoded_feature-mi)/(ma-mi)
df_binary_encoded = pd.concat([df_binary_encoded,pd.DataFrame(encoded_feature)],axis=1)

df_binary_encoded.head()

     0    1    0    1    2  0  0         0         0         0
0  0.0  1.0  1.0  0.0  0.0  0  0         0         0  0.483333
1  0.0  1.0  0.0  0.0  1.0  0  0  0.142857  0.105263  0.483333
2  0.0  1.0  1.0  0.0  0.0  0  0         0  0.368421  0.483333
3  1.0  0.0  1.0  0.0  0.0  0  0         0         0  0.483333
4  0.0  1.0  1.0  0.0  0.0  0  0         0         0  0.483333

In [12]:
encoded_feature = data_to_encode[:,7]
ma = np.amax(encoded_feature)
mi = np.amin(encoded_feature)
encoded_feature = (encoded_feature-mi)/(ma-mi)
df_binary_encoded = pd.concat([df_binary_encoded,pd.DataFrame(encoded_feature)],axis=1)

df_binary_encoded.head()

     0    1    0    1    2  0  0         0         0         0           0
0  0.0  1.0  1.0  0.0  0.0  0  0         0         0  0.483333   0.0125983
1  0.0  1.0  0.0  0.0  1.0  0  0  0.142857  0.105263  0.483333  0.00135579
2  0.0  1.0  1.0  0.0  0.0  0  0         0  0.368421  0.483333  0.00787364
3  1.0  0.0  1.0  0.0  0.0  0  0         0         0  0.483333  0.00369121
4  0.0  1.0  1.0  0.0  0.0  0  0         0         0  0.483333  0.00134915

In [13]:
encoded_feature = data_to_encode[:,8]
ma = np.amax(encoded_feature)
mi = np.amin(encoded_feature)
encoded_feature = (encoded_feature-mi)/(ma-mi)
df_binary_encoded = pd.concat([df_binary_encoded,pd.DataFrame(encoded_feature)],axis=1)

df_binary_encoded.head()

,0,1,0,1,2,0,0,0,0,0,0,0
0,0.0,1.0,1.0,0.0,0.0,0,0,0,0,0.483333,0.0125983,0.0125
1,0.0,1.0,0.0,0.0,1.0,0,0,0.142857,0.105263,0.483333,0.00135579,0.00125
2,0.0,1.0,1.0,0.0,0.0,0,0,0,0.368421,0.483333,0.00787364,0.0075
3,1.0,0.0,1.0,0.0,0.0,0,0,0,0,0.483333,0.00369121,0.00375
4,0.0,1.0,1.0,0.0,0.0,0,0,0,0,0.483333,0.00134915,0.00125

feature 9 is a Boolean

In [14]:
feat_to_encode = data_to_encode[:,9]
feat_to_encode=feat_to_encode.reshape(-1, 1)
encoded_feature=encod.fit_transform(feat_to_encode)


df_encoded_feature = pd.DataFrame(encoded_feature)


df_binary_encoded = pd.concat([df_binary_encoded,pd.DataFrame(encoded_feature)],axis=1)

df_binary_encoded.head()

,0,1,0,1,2,0,0,0,0,0,0,0,0,1
0,0.0,1.0,1.0,0.0,0.0,0,0,0,0,0.483333,0.0125983,0.0125,1.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0,0,0.142857,0.105263,0.483333,0.00135579,0.00125,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0,0,0,0.368421,0.483333,0.00787364,0.0075,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0,0,0,0,0.483333,0.00369121,0.00375,0.0,1.0
4,0.0,1.0,1.0,0.0,0.0,0,0,0,0,0.483333,0.00134915,0.00125,1.0,0.0

In [15]:
nb_feat = df_binary_encoded.shape[1]
X = df_binary_encoded
idx = list(range(nb_feat))
str_idx = [str(i) for i in idx]
X.columns=str_idx

In [16]:
from secml.data import CDataset
from secml.array import CArray

#secML wants all dimensions to be homogeneous (we had previously float and int in X)
data_set_encoded_secML = CArray(X.to_numpy(), dtype= float, copy=True) 
data_set_encoded_secML = CDataset(data_set_encoded_secML,Y)

In [17]:
n_tr = round(0.66 * X.shape[0])
n_ts = X.shape[0]-n_tr

print(X.shape)
print(n_tr)
print(n_ts)

from secml.data.splitter import CTrainTestSplit
splitter = CTrainTestSplit(train_size=n_tr, test_size=n_ts)
tr_set_secML, ts_set_secML= splitter.split(data_set_encoded_secML)

#tr_set_secML = CDataset(X_train,Y_train)
#ts_set_secML = CDataset(X_test,Y_test)

(5278, 14)
3483
1795

# Create a surrogate classifier

In [18]:
# Creation of the multiclass classifier
from secml.ml.classifiers import CClassifierSVM
from secml.ml.classifiers.multiclass import CClassifierMulticlassOVA
from secml.ml.kernel import CKernelRBF
clf = CClassifierMulticlassOVA(CClassifierSVM, kernel=CKernelRBF())

the classifier is declared, now we will try to find the best set of parameters such that it performs well on a portion of the training set

In [19]:
# Parameters for the Cross-Validation procedure
xval_params = {'C': [1e-4, 1e-3, 1e-2, 0.1, 1], 'kernel.gamma': [0.01, 0.1, 1, 10, 100, 1e3]}

# Let's create a 3-Fold data splitter
random_state = 999

from secml.data.splitter import CDataSplitterKFold
xval_splitter = CDataSplitterKFold(num_folds=3, random_state=random_state)

# Select and set the best training parameters for the classifier
print("Estimating the best training parameters...")
best_params = clf.estimate_parameters(
    dataset=tr_set_secML,
    parameters=xval_params,
    splitter=xval_splitter,
    metric='accuracy',
    perf_evaluator='xval'
)
print("The best training parameters are: ", best_params)

Estimating the best training parameters...
The best training parameters are:  {'C': 1, 'kernel.gamma': 100}

In [20]:
print(clf.get_params())
print(clf.num_classifiers)

{'preprocess': None}
2

In [21]:
# Metric to use for training and performance evaluation
from secml.ml.peval.metrics import CMetricAccuracy
metric = CMetricAccuracy()


# Train the classifier
clf.fit(tr_set_secML)
print(clf.num_classifiers)

# Compute predictions on a test set
y_pred = clf.predict(ts_set_secML.X)

# Evaluate the accuracy of the classifier
acc = metric.performance_score(y_true=ts_set_secML.Y, y_pred=y_pred)

print("Accuracy on test set: {:.2%}".format(acc))

2
Accuracy on test set: 66.91%

# Prepare attack configuration

In [25]:
noise_type = 'l2'  # Type of perturbation 'l1' or 'l2'
dmax = 5.0  # Maximum perturbation
lb, ub = 0, 1  # Bounds of the attack space. Can be set to `None` for unbounded
y_target = None  # None if `error-generic` or a class label for `error-specific`

# Should be chosen depending on the optimization problem
solver_params = {
    'eta': 0.1,
    'eta_min': 0.1,
    'eta_max': None,
    'max_iter': 100,
    'eps': 1e-6
}

# Run attack

In [26]:
from secml.adv.attacks.evasion import CAttackEvasionPGDLS
from secml.adv.attacks.evasion import CAttackEvasionPGD
pgd_ls_attack = CAttackEvasionPGDLS(
    classifier=clf,
    surrogate_classifier=clf,
    surrogate_data=tr_set_secML,
    distance=noise_type,
    dmax=dmax,
    lb=lb, ub=ub,
    solver_params=solver_params,
    y_target=y_target)

In [27]:
nb_attack=25
result_pts=np.empty([nb_attack,nb_feat])
result_class=np.empty([nb_attack,1])

#take a point at random being the starting point of the attack
import random
for nb_iter in range(0,nb_attack-1):
    rn = random.randint(0,ts_set_secML.num_samples)
    x0,y0 = ts_set_secML[rn,:].X, ts_set_secML[rn,:].Y
    
    y_pred_pgdls, _, adv_ds_pgdls, _ = pgd_ls_attack.run(x0, y0)
    
    adv_pt = adv_ds_pgdls.X.get_data()
    
    #np.asarray([np.asarray(row, dtype=float) for row in y_tr], dtype=float)
    result_pts[nb_iter] = adv_pt
    result_class[nb_iter] = y_pred_pgdls.get_data()[0]
    
np.savetxt("../results/result_attack_pts.csv",np.concatenate((result_pts,result_class),axis=1),delimiter=',')

In [28]:
print(np.count_nonzero(result_class != y0))
print(np.count_nonzero(result_class == y0))

11
14

In [29]:
# Run the evasion attack on x0
#y_pred_pgdls, _, adv_ds_pgdls, _ = pgd_ls_attack.run(x0, y0)

add a block with some constraints if needed to keep dimensions in predefined ranges of values; force the value of some dimensions if constraints are specified; etc.

In [30]:
print("Original x0 label: ", y0.item())
print("Adversarial example label (PGD-LS): ", y_pred_pgdls.item())

print("Number of classifier gradient evaluations: {:}"
      "".format(pgd_ls_attack.grad_eval))

Original x0 label:  1
Adversarial example label (PGD-LS):  0

AttributeError: 'NoneType' object has no attribute 'grad_eval'

## Check that the attack is able to reach a optima

In [31]:
from script_evaluate_parameter_secML import plot_loss_after_attack

plot_loss_after_attack(pgd_ls_attack)

AttributeError: 'NoneType' object has no attribute 'shape'